<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKPTKsp9-BQmW4PwDLPHcVKTvUGjlUGw0</string>
	<key>GCM_SENDER_ID</key>
	<string>257843038415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PdfPlus</string>
	<key>PROJECT_ID</key>
	<string>pdfplus-72170</string>
	<key>STORAGE_BUCKET</key>
	<string>pdfplus-72170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257843038415:ios:70be0c86a45c677420cfba</string>
</dict>
</plist>